@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    font-size: 60%;
    font-family: Poppins;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: #F7F9FA;
}

.modal {
    height: fit-content;
}

.backgroundModal {
    background-color: #F7F9FA;
}

.textColor {
    color: #3F4E5A;
}
