@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  font-size: 60%;
  font-family: Poppins;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html, body {
  height: 100vh;
  width: 100vw;
  background-color: #F7F9FA;
}

th {
  color: #3F4E5A;
  background-color: #C3CFD9;
}

tr {
  color: #3F4E5A;
}

.text {
  color: #636F79;
}

.input {
  border-color: #CBD4DB;
  color: #3F4E5A;
  height: 4rem;
}

.table {
  border-color: #AAB8C4;
}

.button {
  height: fit-content;
  width: fit-content;
  border: none;
  color: #3F4E5A;
}